body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dog-img{
  max-width: 25%;
  height: auto;
}

/*---- NavBar ----*/

.logo-container{
  color: red;
  font-size: x-large;
  font-weight: 600;
}

.nav-links{
  color: whitesmoke;
  font-weight: 500;
  font-size: large;
}

/*---- GameBoard ----*/

.gameboard-container {
  background-color: green;
}


/*---- ScoreBoard ----*/

.score-container {
  background-color: brown;
  color: white;
}